- var imgPath = "/uploads/"
- var action = "/upload"
html
  head
    title= title
  body
  h1 superKenzie
    each imageName in items
      a(href=imageName): img(src=imgPath+imageName)
    form(action=action, method="POST", enctype="multipart/form-data")
      p
        input(name="myFile" type="file")
      input(type="submit" value="submit")
  script(src='client.js')